<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.afridho.family.guy.chrome</string>
	<key>connections</key>
	<dict>
		<key>09166652-94A6-4BEA-B412-0C912AA4EA08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0677A199-9B26-46AA-A6A5-E649A7190D17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27AED678-65BD-4013-A88E-C6034F4D1C9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A6EC4CD-72B4-4555-B0F5-AFDA4177E864</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A8E6DC88-65B7-44D1-82F0-446C95927682</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>75C26171-9A59-4DCA-B07B-A7F838D629A9</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0A127F51-2EB3-4148-90D9-82321F20A445</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3CC3FBDF-DF07-451F-8182-305DC594AD4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27AED678-65BD-4013-A88E-C6034F4D1C9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3D69807B-60A9-40FF-BADD-6C3492AE0079</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE059FEB-7A89-4516-8954-B066CB95FEF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E70B49D-C450-4253-BEF0-0B50A93CB4D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0677A199-9B26-46AA-A6A5-E649A7190D17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72A25183-8A8D-405C-89C9-9435A38E4BEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0677A199-9B26-46AA-A6A5-E649A7190D17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75C26171-9A59-4DCA-B07B-A7F838D629A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECE09749-53D8-4BE6-A774-0DB79F58D9BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A6EC4CD-72B4-4555-B0F5-AFDA4177E864</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09166652-94A6-4BEA-B412-0C912AA4EA08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0677A199-9B26-46AA-A6A5-E649A7190D17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FE1703D-3F69-4C88-B50A-0EF128684294</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>962D9703-B00A-434F-926C-71318E786197</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>962D9703-B00A-434F-926C-71318E786197</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E70B49D-C450-4253-BEF0-0B50A93CB4D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8E6DC88-65B7-44D1-82F0-446C95927682</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE0BC087-A616-4CB9-8088-015434724D4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE059FEB-7A89-4516-8954-B066CB95FEF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FE1703D-3F69-4C88-B50A-0EF128684294</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE0BC087-A616-4CB9-8088-015434724D4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D69807B-60A9-40FF-BADD-6C3492AE0079</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2C37C8C-6E62-4140-B365-B6567F642BFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0677A199-9B26-46AA-A6A5-E649A7190D17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72A25183-8A8D-405C-89C9-9435A38E4BEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3EFB31D-4F7E-4474-B866-4A10531D0522</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27AED678-65BD-4013-A88E-C6034F4D1C9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECE09749-53D8-4BE6-A774-0DB79F58D9BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2C37C8C-6E62-4140-B365-B6567F642BFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1F49B427-8F56-4E72-B23A-FB40DFFE1D3A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72A25183-8A8D-405C-89C9-9435A38E4BEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>afridho</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Family Guy Chrome</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python -c "from family_guy_chrome import *; deleteData('$1')"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>09166652-94A6-4BEA-B412-0C912AA4EA08</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Ok</string>
				<key>button2</key>
				<string>Cancel</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>Delete this season?</string>
				<key>title</key>
				<string>Are you sure</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>7A6EC4CD-72B4-4555-B0F5-AFDA4177E864</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>family</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>python family_guy_chrome.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>family_guy_chrome.py</string>
				<key>subtext</key>
				<string>Hotstar Family Guy TV Series</string>
				<key>title</key>
				<string>Family Guy</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>27AED678-65BD-4013-A88E-C6034F4D1C9D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python -c "from family_guy_chrome import *; addData('$seasonName', '$seasonUrl')"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CE059FEB-7A89-4516-8954-B066CB95FEF4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>8FE1703D-3F69-4C88-B50A-0EF128684294</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>python -c 'from family_guy_chrome import *; mainAddData()' $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>family_guy_chrome.py</string>
				<key>subtext</key>
				<string>family guy</string>
				<key>title</key>
				<string>Family guy</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A8E6DC88-65B7-44D1-82F0-446C95927682</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>3E70B49D-C450-4253-BEF0-0B50A93CB4D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.8</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>962D9703-B00A-434F-926C-71318E786197</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>:</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<false/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>CE0BC087-A616-4CB9-8088-015434724D4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>seasonName</key>
					<string>{var:split1}</string>
					<key>seasonUrl</key>
					<string>{var:split2}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3D69807B-60A9-40FF-BADD-6C3492AE0079</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>family.guy.main.list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>E3EFB31D-4F7E-4474-B866-4A10531D0522</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>family.guy.main.list</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>0677A199-9B26-46AA-A6A5-E649A7190D17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Ok</string>
				<key>button2</key>
				<string>Cancel</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>Make this season unwatch?</string>
				<key>title</key>
				<string>Are you sure</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>D2C37C8C-6E62-4140-B365-B6567F642BFC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:watch2}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Shown Dialog</string>
						<key>uid</key>
						<string>1F49B427-8F56-4E72-B23A-FB40DFFE1D3A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>ECE09749-53D8-4BE6-A774-0DB79F58D9BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>:</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<false/>
				<key>variableprefix</key>
				<string>watch</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>75C26171-9A59-4DCA-B07B-A7F838D629A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3CC3FBDF-DF07-451F-8182-305DC594AD4F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python -c "from family_guy_chrome import *; markWatchedData('$watch1')"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>72A25183-8A8D-405C-89C9-9435A38E4BEE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0A127F51-2EB3-4148-90D9-82321F20A445</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0677A199-9B26-46AA-A6A5-E649A7190D17</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>09166652-94A6-4BEA-B412-0C912AA4EA08</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Delete</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>0A127F51-2EB3-4148-90D9-82321F20A445</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>note</key>
			<string>Open URL</string>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>27AED678-65BD-4013-A88E-C6034F4D1C9D</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>3CC3FBDF-DF07-451F-8182-305DC594AD4F</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>3D69807B-60A9-40FF-BADD-6C3492AE0079</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>3E70B49D-C450-4253-BEF0-0B50A93CB4D9</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>72A25183-8A8D-405C-89C9-9435A38E4BEE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Mark Watched 
(with dataId)

{var:watch1} split is dataId</string>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>75C26171-9A59-4DCA-B07B-A7F838D629A9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>7A6EC4CD-72B4-4555-B0F5-AFDA4177E864</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>8FE1703D-3F69-4C88-B50A-0EF128684294</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>962D9703-B00A-434F-926C-71318E786197</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>A8E6DC88-65B7-44D1-82F0-446C95927682</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>CE059FEB-7A89-4516-8954-B066CB95FEF4</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Add</string>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>CE0BC087-A616-4CB9-8088-015434724D4B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>D2C37C8C-6E62-4140-B365-B6567F642BFC</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>E3EFB31D-4F7E-4474-B866-4A10531D0522</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>ECE09749-53D8-4BE6-A774-0DB79F58D9BE</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://www.github.com/afridho</string>
</dict>
</plist>
